body {
  background-color: #f8f9fa;
}

.logo-universidad {
  width: 120px;
}

.nombre-estudiante {
  font-weight: bold;
  color: #0d6efd;
}

h3 {
  color: #0d6efd;
}

footer {
  margin-top: 50px;
}
